@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <br />
    <p>This is a Simple Inventory Management App. Users can add and update supplier information as well as adjust inventory level counts</p>
    <br />
    <br />
    <p> This was created so I could gain more experience working with .NET and become more familiar with how it works</p>
</div>
